*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userpicture {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
}
.logo {
    position: relative;
    top:20px;
}
.becode {
    position: relative;
    top: 25px;
}
header {
    display: block;
    text-align: center;
    background-color:#333;
    color: #fff;
    height: auto;
    padding-top: 10px;
    padding-bottom:10px ;
}
.info {
    width: 20px;
    height: 20px;
}
h3 {
    color: #13c3ba;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 20px;
}
.profession {
    color: orange;
    font-weight: bold;
    letter-spacing: .1rem;
}


.right-header a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
section {
    font-size: 13px;
}
.section-left {
    background-color: #fff;
}
.section-right {
    background-color: #fff;
}
h4 {
    color:#13c3ba;
    font-size: 18px;
}
hr.light {
    margin-top: .8rem;
    margin-bottom: 15px;
    border-color:#13c3ba ;
}

.team {
    margin-top: 5px;
    line-height: 1.5;
}

.div img {
    margin-right: 10px;
}


.cool {
    background-color: #fff;
    border: 2px solid #ccc;
    width: 300px;
    height: 15px;
}
.po {
    margin-top: 20px;
    font-weight: bold;
}
strong {
    color: #13c3ba;
    text-decoration: none;
}
.inner {
    height: 100%;
    background-color: rgb(255, 115, 0);
}

span {
    margin-left: 10%;
}

.interet b {
    line-height: 1.5;
}
.interet a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
@media screen and (min-width:768px)  {
    main {
        box-shadow: 30px 0px 40px rgb(196, 196, 196), -30px 0px 40px rgb(196, 196, 196);
        margin: auto;
        max-width: 980px;
    }
    header {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .profil {
        margin-left: 25px;
    }
    .right-header {
        margin-right: 20px;
    }
    hr.light {
        width: 100%;
    }

    section {
        display:flex;
        flex-direction: column;
        font-size: 14px;
    }
    .section-left {
        float: left;
        width: 40%;
        margin-left: 20px;
    }
    .section-right {
       float: right;
       width: 40%;
       margin-right: 10px;
    }
   
 }
