* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("studio-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
h1 {
    padding-bottom: 25px;
}
@media screen and (min-width:720px) {
    body {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        height: auto;
    }
}