*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color:#141414 ;
    margin: 0;
    padding: 0;
    color: #fff;
}
body .page {
    margin-left: 20px;
    height: 80vh;
}
nav {
    display: block;
}
.buttons {
    margin-top: 20px;
}
nav .onglet{
    margin-top: 10px;

}
nav .onglet a {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
nav .buttons button {
    padding: 13px 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 15px;
    outline: none;
}
nav .buttons .login {
    background-color: inherit;
    color: #8f8f8f;
}
nav .buttons .register {
    background-color: rgb(255, 0, 0);
    margin-right: 10px;
    color: #fff;
    border-radius: 15px;
}
/*Partie Header*/
header {
    margin-top: 40px;
    background-image: url("redmoon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 280px;

}
header h1 {
    text-align: center;
    font-size: 25px;
    padding: 90px;
}
/*Fin du Header*/

/*Partie Footer*/
footer {
    background-color: #1a1a1a;
    padding: 25px 100px;
    color: #828282;
}
footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
/*Fin du Footer*/

@media screen and (min-width:644px) and (max-width:1023px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .buttons {
        display: flex;
        margin-top: 0px;
    }
    header {
        margin-top: 80px;
        background-size: 300px 300px;
        height: 50vh;
        padding: 60px;
    }
}
@media  screen and (min-width:1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .buttons {
        display: flex;
        margin-top: 0px;
    }
    header {
        padding:200px
    }
    
}

/*
@media screen and (max-width: 870px) {
    body .page {
        margin: 20px;
    }
    nav .onglet {
        margin-bottom: 15px;
    }
    header {
        margin-top: 20px;
        background-size: 200px 200px;
    }
    header h1 {
        font-size: 20px;
    }
   
}
@media screen and (max-width:803px) {
    nav {
        display: block;
    }

}

@media screen and (max-width: 803px) {
    .buttons {
        margin-top: 20px;
        margin-left: -16px;

    }
}
@media (max-width:450px) {
    #last-column {
        display: none;
    }
}




*/