*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color:#141414 ;
    margin: 0;
    padding: 0;
    color: #fff;
}
body .page {
    margin-left: 20px;
    height: 80vh;
}
nav {
    display: block;
}
.buttons {
    margin-top: 20px;
    margin-left: -20px;
}
nav .onglet{
    margin-top: 10px;

}
nav .onglet a {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
nav .buttons button {
    padding: 13px 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
nav .buttons .login {
    background-color: inherit;
    color: #8f8f8f;
}
nav .buttons .register {
    background-color: rgb(255, 0, 0);
    margin-right: 10px;
    color: #fff;
    border-radius: 15px;
}
/*Partie Header*/
header {
    margin-top: 40px;
    background-image: url("redmoon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 240px 240px;

}
header h1 {
    text-align: center;
    font-size: 25px;
    padding: 90px;
}
/*Fin du Header*/

/*Partie Footer*/
footer {
    background-color: #1a1a1a;
    color: #828282;
    padding: 25px 100px;
}
footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Fin du Footer*/

@media screen and (min-width:768px) and (max-width:1023px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .buttons {
        display: flex;
        margin-top: 0px;
    }
    header {
        margin-top: 20px;
        background-size: 300px 300px;
        padding: 80px;
    }
    footer {
        padding: 6px;
    }
}

@media  screen and (min-width:1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .buttons {
        display: flex;
        margin-top: 0px;
    }
   
    header {
        margin-top: 10px;
        padding:200px;
        background-size: 300px 300px;

    }
  
    
}
@media  screen and (min-width:1900px) {
    nav {
        font-size: 20px;
    }
    .buttons button {
        font-size: 20px;
    }
    
    header {
        background-size: 450px 450px;
        margin-top: 60px;
    }
    header h1 {
        font-size: 30px;
    }
   
    footer {
        font-size: 20px;
    }

}


