* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-section {
    background-color: black;
    width: 100%;
    height: auto;
}
.top-section p {
    text-align: center;
}

.bottom-section {
    margin-top: 35px;
    text-align: center;
}
#citation {
    margin-left: 0px;
}
#citation_new {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: red;
    color: #fff;
    padding: 16px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}
body {
    background-color: royalblue;
    margin: auto;
}
@media screen and (min-width:768px) {
        body {
            text-align: center;
    }
}
